# the latest released version of pip might upgrade too much libs
# see https://github.com/pypa/pip/pull/4500/
# the development version will upgrade only if needed
git+https://github.com/pypa/pip.git#egg=pip

# Odoo dependencies
Babel==2.3.4
decorator==4.0.10
docutils==0.12
ebaysdk==2.1.5
feedparser==5.2.1
gevent==1.1.2 ; python_version < '3.7'
gevent==1.3.4 ; python_version >= '3.7'
greenlet==0.4.10 ; python_version < '3.7'
greenlet==0.4.13 ; python_version >= '3.7'
html2text==2016.9.19
Jinja2==2.8
lxml==3.7.1 ; python_version < '3.7'
lxml==4.2.3 ; python_version >= '3.7'
Mako==1.0.4
MarkupSafe==0.23
mock==2.0.0
num2words==0.5.4
ofxparse==0.16
passlib==1.6.5
Pillow==4.0.0
psutil==4.3.1
psycopg2==2.7.3.1
pydot==1.2.3
pyldap==2.4.28
pyparsing==2.1.10
PyPDF2==1.26.0
pyserial==3.1.1
python-dateutil==2.5.3
pytz==2016.7
pyusb==1.0.0
PyYAML==3.12 ; python_version < '3.7'
PyYAML==3.13 ; python_version >= '3.7'
qrcode==5.3
reportlab==3.3.0
requests==2.20.0
six==1.10.0
suds-jurko==0.6
vatnumber==1.2
vobject==0.9.3
Werkzeug==0.11.15
XlsxWriter==0.9.3
xlwt==1.3.*
xlrd==1.0.0
phonenumbers==8.9.10

# Not part of official requirements, but used by some addons
chardet==3.0.4
# colorama==0.3.9
gdata==2.0.18
html5lib==1.0.1
odfpy==1.3.5
odoo-autodiscover==2.0.0
pyinotify==0.9.6
python-stdnum==1.9
simplejson==3.11.1
urllib3==1.23

# Migration tools
marabunta==0.9
anthem==0.12.0

# test / lint
# those libs and their dependencies are unpinned
# to always test with the last version of it
flake8
pytest
pluggy
coverage
pytest-odoo
pytest-cov
watchdog

# Library dependency
argh==0.26.2
atomicwrites==1.1.5
attrs==18.1.0
beautifulsoup4==4.6.0
future==0.16.0
mccabe==0.6.1
more-itertools==4.2.0
pathtools==0.1.2
pbr==4.0.4
pexpect==4.6.0
ptyprocess==0.5.2
py==1.5.3
pycodestyle==2.3.1
pyflakes==1.6.0
unicodecsv==0.14.1
wrapt==1.10.11
