sudo: required

services: docker

env:
  matrix:
    - VERSION=11.0
    - VERSION=10.0
    - VERSION=9.0

script:
  - make VERSION=$VERSION build
  - make VERSION=$VERSION BATTERIES=True build
  - make VERSION=$VERSION test

after_success:
  - travis/publish.sh
  - BATTERIES=True bash -c 'travis/publish.sh'
