# Odoo dependencies
Babel==2.3.4
Jinja2==2.10.1
Mako==1.0.4
MarkupSafe==0.23
Pillow==3.4.2
Python-Chart==1.39
PyYAML==4.2b4
Werkzeug==0.16.0
chardet==3.0.4
colorama==0.3.9
decorator==4.0.10
docutils==0.12
feedparser==5.2.1
future==0.16.0
gevent==1.1.2
greenlet==0.4.10
html2text==2018.1.9
html5lib==1.0.1
lxml==3.5.0
mock==2.0.0
odfpy==1.3.4
ofxparse==0.16
passlib==1.6.5
psutil==4.3.1
psycopg2==2.7.3.1
pyPdf==1.13
pyinotify==0.9.4
pyparsing==2.1.10
python-dateutil==2.5.3
python-ldap==2.4.27
python-openid==2.2.5
python-stdnum==1.9
pytz==2016.7
reportlab==3.3.0
requests==2.20.0
roman==2.0.0
simplejson==3.6.5
six==1.10.0
unittest2==1.1.0
urllib3==1.24.2
vatnumber==1.2
vobject==0.9.3
wsgiref==0.1.2
XlsxWriter==0.9.3
xlwt==1.1.2
xlrd==1.0.0
# version in debian has problems
pydot==1.2.3
suds-jurko==0.6

# Migration tools
marabunta==0.10.4
anthem==0.12.0

# test / lint
# those libs and their dependencies are unpinned
# to always test with the last version of it
flake8
pytest
pytest-odoo
coverage
pytest-cov
watchdog
