# Odoo external services dependencies
## PLATFORM
redis==6.2.*
python-json-logger==3.3.*
prometheus-client==0.22.*

# PLATFORM, for azure blob storage
azure-storage-blob==12.16.*
azure-identity==1.13.*
