# test / lint
# those libs and their dependencies are unpinned
# to always test with the last version of it
pytest==8.4.2
pytest-odoo>=2.2.0
pytest-cov>=7.0.0
coverage

# Dependencies of pytest
iniconfig
packaging
pluggy
Pygments
exceptiongroup ; python_version < '3.11'
tomli ; python_version < '3.11'
typing_extensions==4.16.0 ; python_version < '3.11'
