# Odoo dependencies
Babel==1.3
Jinja2==2.10.1
Mako==1.0.0
MarkupSafe==0.23
Pillow==3.4.2
Python-Chart==1.39
PyYAML==4.2b1
Werkzeug==0.9.6
argparse==1.2.1
decorator==3.4.0
docutils==0.12
feedparser==5.1.3
gdata==2.0.18
gevent==1.0.2
greenlet==0.4.7
jcconv==0.2.3
lxml==3.3.5
mock==1.0.1
passlib==1.6.2
psutil==5.7.0
psycogreen==1.0
psycopg2==2.7.1
pyPdf==1.13
pycups==1.9.73
pydot==1.0.2
pyparsing==1.5.7
pyserial==2.7
python-dateutil==1.5
python-ldap==2.4.15
python-openid==2.2.5
pytz==2014.4
pyusb==1.0.0b1
qrcode==5.0.1
reportlab==3.1.44
requests==2.20.0
simplejson==3.5.3
six==1.10.0
unittest2==0.5.1
vatnumber==1.2
vobject==0.6.6
wsgiref==0.1.2
xlwt==0.7.5

# Migration tools
ruamel.yaml==0.16.13
marabunta==0.10.5
ERPpeek==1.7.1

# test / lint
# those libs and their dependencies are unpinned
# to always test with the last version of it
flake8
pytest==4.6
pytest-odoo
coverage
watchdog==0.10.6
pytest-cov

# Library dependency
argh==0.26.2
atomicwrites==1.1.5
attrs==18.1.0
beautifulsoup4==4.6.0
configparser==3.5.0
enum34==1.1.6
funcsigs==1.0.2
mccabe==0.6.1
more-itertools==4.2.0
pathtools==0.1.2
pexpect==4.6.0
ptyprocess==0.5.2
py==1.5.3
pycodestyle==2.3.1
pyflakes==1.6.0
unicodecsv==0.14.1
wrapt==1.10.11
